In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, download_plotlyjs, plot, iplot
import cufflinks as cf
import seaborn as snp

/usr/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning:

numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

/usr/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning:

numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

/usr/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning:

numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
init_notebook_mode(connected=True)
cf.go_offline()

In [3]:
world_data = pd.read_csv('train.csv')

In [4]:
world_data.head(5)

   Id Country_Region Province_State        Date  ConfirmedCases  Fatalities
0   1    Afghanistan            NaN  2020-01-22             0.0         0.0
1   2    Afghanistan            NaN  2020-01-23             0.0         0.0
2   3    Afghanistan            NaN  2020-01-24             0.0         0.0
3   4    Afghanistan            NaN  2020-01-25             0.0         0.0
4   5    Afghanistan            NaN  2020-01-26             0.0         0.0

In [5]:
world_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24414 entries, 0 to 24413
Data columns (total 6 columns):
Id                24414 non-null int64
Country_Region    24414 non-null object
Province_State    10374 non-null object
Date              24414 non-null object
ConfirmedCases    24414 non-null float64
Fatalities        24414 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.1+ MB

In [8]:
world_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Id,24414.0,17823.500000,10300.689150,1.0,8912.25,17823.5,26734.75,35646.0
ConfirmedCases,24414.0,835.249447,6554.109673,0.0,0.00,0.0,75.00,151061.0
Fatalities,24414.0,39.778201,494.078524,0.0,0.00,0.0,0.00,17669.0

In [9]:
world_data.isnull().sum()

Id                    0
Country_Region        0
Province_State    14040
Date                  0
ConfirmedCases        0
Fatalities            0
dtype: int64

In [10]:
world_data.fillna('Other', axis=1, inplace=True)